:root
{
  --light-color: rgb(60, 58, 71);
  --color: rgb(37, 35, 44);
  --dark-color: rgb(18, 17, 22);
}

html, body, .app
{  
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.app
{
  display: flex;
  flex-direction: column;
}

header
{
  background: var(--dark-color);
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.file-name
{
  color: white;
  margin-left: 15px;
  font-size: 25px;
  font-family: sans-serif;
}

input
{
  background: var(--light-color);
  color: white;
  margin-left: 10px;
  padding: 8px 10px;
  font-size: 25px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.header-button
{
  background: var(--light-color);
  color: white;  
  margin-left: 30px;
  padding: 15px 20px;
  font-size: 25px;
  border: none;
  outline: none;
  border-radius: 10px;
  transition: background 0.1s;
}

.header-button:hover
{
  background: rgb(90, 87, 109);
}

.main-section
{
  display: flex;
  height: 100%;
}

textarea
{
  background: var(--color);
  color: white;
  width: 100%;
  height: calc(100% - 15px); /* minus the top padding */
  margin: 0;
  padding: 15px 0 0 20px;
  font-size: 30px;
  border: none;
  outline: none;
  line-height: 30px;
  font-family: sans-serif;
  resize: none;  
}

.output
{
  background: rgb(67, 65, 82);
  color: white;
  width: 750px;
  padding: 10px 0 0 15px;
  font-size: 30px;
  font-family: sans-serif;
}